.head-title::before {
    content: '';
    background: #5a5af3;
    height: 5px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(48px);
  }
  
  .head-title::after {
    content: '';
    background: #5a5af3;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
  }
  
  .member-btn {
    width: 150px;
    background: #5a5af3;
    color: #fff;
    border: 2px solid #5a5af3;
    border-radius: 10px;
    font-size: 17px;
    letter-spacing: 0.5px;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10%;
  }
  
  .member-btn:hover {
    background: #7272f5;
    border-color: #7272f5;
  }
  
  .card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  
  .table-box
  {
      margin: 10px auto;
  }
  .table-row{
      display: table;
      width: 100%;
      margin: 5px auto;
      font-family: sans-serif;
      /* background: transparent; */
      background: #ffffff;
      padding: 10px 0;
      color: #555;
      font-size: 15px;
      box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
  }
  .table-head{
      background: #8665f7;
      box-shadow: none;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
  }
  .table-head .table-cell{
      border-right: none;
  }
  .table-cell{
      display: table-cell;
      width: 15%;
      text-align: center;
      padding: 4px 0;
      border-right: 1px solid #d6d4d4;
      vertical-align: middle;
  }
  .first-cell{
      text-align: center;
      width: 16%;
  }
  .last-cell{
      border-right: none;
  }
  a{
      text-decoration: none;
      color: #555;
  }
  
  @media only screen and (max-width: 600px) {
    .table-row {
      font-size: 11px;
    }
  }
  
  .card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    padding: 1%;
  }
  